
.header1{
    
  width:1260px;
  height: 840px;
  background-image: url(../img/ramen2.jpg);
  margin:0 auto;
  position: relative;
  
}
.header2{
    
  width:1260px;
  height: 840px;
  background-image: url(../img/karage.jpg);
  margin:0 auto;
  position: relative;
}
.header3{
    
  width:1260px;
  height: 840px;
  background-image: url(../img/guidon.jpg);
  margin:0 auto;
  position: relative;

}
.header4{
    
    width:1260px;
    height: 840px;
    background-image: url(../img/udon.jpg);
    margin:0 auto;
    position: relative;
}
.page_title-menu{
  width:145px;
  position: absolute;
  top:900px;
  left:880px;
 }
  .main{
      display: flex;
      width:1127px;
      margin:70px auto;
  }
    
    .t-container{
      width: 890px;
      
      background-image: url(../img/background2.jpg);
      padding:0px 30px;
      flex-direction: column;
      
    }
    .side-nav{
      margin-right:45px;
    }
    .s-ul{
      display: flex;
      flex-direction: column;
      margin:0px;
      padding:0px;
    }
    .s-li{
      background-image: url(../img/wood_2.png);
      margin-bottom: 20px;
      writing-mode: lr-tb;
      width: 132px;
      height:45px;
      list-style: none;
      
    }
    .s-li:hover{
      position: relative;
      left:20px;
    }
    .s-li:hover p{
      color:#E6E6E6;
    }
    .s-li a p{
      margin:8px 0px 0px 30px;
    }
    
    
    .kind{
      position: relative;
      top:-60px;
      left:40px;
      bottom:0px;
    }
    .menu_section{
      display: flex;
      flex-direction: row;
      margin:0px 0px 50px 0px;
    }
    .food-container{
      display: flex;
      flex-direction: column;
      margin:0px 30px;
    }
    .food-img{
      width:385px;
      height: 260px;

    }
    .food-info{
      display: flex;
      flex-direction: row;
      background-color: #C87F46;
      margin-top: 20px;
      text-decoration: none;
      color: black;
      font-family:DFKai-SB;
      font-size:24px;
      font-weight: 600;
      width:330px;
      height: 65px;
      padding-left: 55px;
    }
    .food-info p{
      margin:20px 30px;
    }

    .t-container2{
      width: 890px;
      
      background-image: url(../img/background5.jpg);
      padding:0px 30px;
      flex-direction: column;
    }
    .tag{
      position: relative;
      width: 111px;
      height: 51px;
      top:-80px;
      left:-20px
    }
    .s-img-block{
     height: 400px;
      position: relative;
      left:-1160px;
      top:600px;
    }
    .s-img-block-2{
      height: 400px;
       position: relative;
       left:-1160px;
       top:1000px;
     }
    .s-img{
      width:200px;
     
      position: absolute;
      
    }
  
    .s-img-2{
      display: none;
      width:200px;
      
      position: absolute;
      
    }
    .s-img-block:hover .s-img-2{
      display: block;
    }
    .s-img-block:hover .s-img{
      display: none;
    }
    .s-img-block-2:hover .s-img-2{
      display: block;
    }
    .s-img-block-2:hover .s-img{
      display: none;
    }


    .img-popup {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(38, 40, 52, 0.9);
      text-align: center;
      display: none;
      z-index: 9999999999999;
      animation: pop-in;
      animation-duration: 0.5s;
      -webkit-animation: pop-in 0.5s;
      -moz-animation: pop-in 0.5s;
      -ms-animation: pop-in 0.5s;
  
  }
  .img-popup img {
    position: absolute;
    top: 50%;
    max-width: 80%;
    max-height: 80vh;
    display: inline-block;
    transform: translate(-50%, -50%);
}

.close-lightbox {
    position: absolute;
    top: 45px;
    right: 20%;
    padding: 0px 10px;
    color: #fff;
    font-size: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
}
.lightboxfadeout{
    animation: fadeout;
    animation-duration: 0.5s;
    -webkit-animation: fadeout 0.5s;
    -moz-animation: fadeout 0.5s;
    -ms-animation: fadeout 0.5s;
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes pop-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes pop-in {
    0% {
        opacity: 0;
        -moz-transform: scale(0.1);
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1);
    }
}


@keyframes fadeout {
    100% {
        opacity: 0;
        transform: scale(0.1);
    }
    0% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes fadeout {
    100% {
        opacity: 0;
        -webkit-transform: scale(0.1);
    }
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes fadeout {
    100% {
        opacity: 0;
        -moz-transform: scale(0.1);
    }
    0% {
        opacity: 1;
        -moz-transform: scale(1);
    }
}